$bg-main : #232946;
$secondary-color: #EEBBC3;
$white: #FDFDFD;
$black: #0D0D0D;
$main-font: Raleway;

.article {
    padding: 50px 0;
    h1{
        font-size: 48px;
        font-weight: bold;
        color: $bg-main;
        margin-bottom: 35px;
    }
    
    img{
        width: 100%;
    }

    pre{
        background-color: #f4f4f4;
        border-radius: 4px;
        padding: 10px;
        overflow-x: auto;
    }

    blockquote {
        border-left: 6px solid #ccc; 
        margin: 0;
        padding: 5px 10px;
    }
}