$bg-main : #232946;
$secondary-color: #EEBBC3;
$white: #FDFDFD;
$black: #0D0D0D;
$main-font: Raleway;

.CarouselSection {
    margin-top: 0;
    min-height: 180px;
    max-height: 500px;
    
}

@media screen and (max-width: 768px) {
    .CarouselSection {
        padding-top: 50px;
        max-height: 200px;
    }
}
/* Project */
.ProjectSection {
    margin: 50px auto;

    .ProjectTitle {
        font-family: $main-font;
        font-weight: bold;
        font-size: 48px;
        color: $bg-main;
        text-align: center;
    }

    .ProjectContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin: 50px 0;

        .ProjectSquare {
            width: 250px;
            height: 250px;
            background-color: #cdcdcd;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: $secondary-color;
                transition: all .3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}

/* NEWS */
.NewsSection {
    background-color: $bg-main;
    text-align: center;
    margin: 50px auto;
    .NewsTitle {
        font-size: 48px;
        font-weight: bold;
        color: $white;
        padding: 25px 0;
        span {
            color: $secondary-color;
        }
    }
    .NewsContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(620px, 2fr));
        gap: 20px; /* Agregamos espacio entre los elementos */
        justify-items: center; /* Centramos los elementos */
        padding: 50px 0;

        .NewsComponents {
            color: $white;
            text-align: left;
            max-width: 618px;
            width: 100%;
            padding: 25px;

            .NewsTitle {
                padding: 0;
                font-size: 24px;
                font-weight: bold;
                color: $white;
            }

            .NewsDescription, .NewsDate {
                font-size: 16px;
                font-weight: lighter;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
            }

            .NewsDate {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .NewsIcon {
                    font-size: 16px;
                    color: $secondary-color;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .NewsContent {
            grid-template-columns: 1fr; /* Cambiamos a una columna cuando el ancho de la pantalla sea menor o igual a 768px */
        }
    }
}

/* GALLERY */
.GallerySection{
    margin: 50px auto;

    .GalleryTitle {
        margin-bottom: 50px;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        color: $bg-main;
    }
}

/* INFO */
.InfoSection {
    position: relative;
    width: 100%;
    height: 50%;
    margin: auto;
  
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../assets/imgs/Info.jpeg');
      background-size: cover;
      background-position: center;
      filter: brightness(35%);
      z-index: -1;
    }
  
    .InfoContainer {
      position: relative; /* Para que los elementos dentro de .InfoContainer se posicionen relativamente */
      display: flex; /* Colocar los elementos en dos columnas */
      align-items: center; /* Centrar verticalmente los elementos */
      justify-content: center; /* Centrar horizontalmente los elementos */
      gap: 20px; /* Espacio entre los elementos */
      z-index: 1; /* Asegura que los elementos estén por encima de la imagen de fondo */
      max-width: 1200px;
      width: 100%;
      margin: auto;
  
      .FAQS {
          color: $white;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 50%;
          height: 433px;
          border-right: 3px solid $bg-main;

        &Titlte {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 4px;
        }

        a:hover {
            color: $secondary-color;
            transition: all .3s;
        }

        .icon {
            color: $secondary-color;
            margin-right: 8px;
            text-align: center;
        }
      }

      .Contact{
        margin: 50px auto; 
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        &Title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        form{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;

            button {
                color: $white;
                background-color: $bg-main;
                width: 166px;
                height: 60px;
                border: none;
                font-size: 24px;
                cursor: pointer;
            }
            
            input, textarea {
                max-width: 610px;
                width: 100%;
                background-color: #fdfdfd40;
                border: none;
                color: $white;
                resize: none;
            }
            input {
                height: 50px;
            }
        }
      }
    }

    @media screen and (max-width: 768px) {
        .InfoContainer {
            flex-direction: column;
            padding: 50px 0;

            .FAQS {
                    height: auto;
                    border-right: none;
        }
      }
    }
}
